/*start layout */
$pageWidth: $desktopPageWidth;
.col {
   //   min-width: 0;
    //  position: relative;
    //  margin-left: percentage($gutter);
}

nav ul {
    width: $pageWidth;
}
header{
    .inner{
        height:em(300px, $base-font-size);
    }
}
//@include establish-baseline();
.container {
    width: $pageWidth;
    padding-right: 9em;
}
.content{
    overflow: visible;
}
.page-title {
    position:relative;
    top:45%;
    margin-top:-18%;
}
.sub-title {
    position:relative;
    top:45%;
}
/* end layout */
