/*start layout */
body {
  background: url(images/noise.jpg) fixed;
}
.container {
  width: 100%;
  padding: 15px;
  margin:0;
  @include transition(width, 500ms, ease);
  background: rgba(white, 0.7);
}
header {
  clear: both;
}
.inner{
        border:1px solid black;
        padding: 5px;
        min-height:8em;
        @include  transition(height, 500ms, ease);
      border-radius: 20px;
}
.body{
}
.menu {
  width: 100%;
  ul {
    position: absolute;
    top: -100em;
    margin: 0;
    padding: 0;
    ul {
      position:static;
      padding: 0;
    }
  }
}
.pad{padding:0;}
footer{
  border-top:1px solid #ccc;
}
.copyright{
  clear :both;
}
h1, h2{
    a:hover{
//        color: $lighten-secondary;
    }
}s
#nav:target {
  width: 100%;
  height: auto;
  ul {
    display: block;
    top: 0px;
    z-index: 10;
    width: 100% !important;
  }
  a {
    &:link, &:visited {
      display: block;
      background: $startColor;
      color: $textColor;
      border: 1px solid #cccccc;
      margin-bottom: -1px;
      padding: 5px;
      text-decoration: none;
    }
  }
  &:after {
    content: "";
  }
}
.col {
  min-width: 100%;
  position: static;
}
.mobileOnly {
    display: block;
    text-align: center;
    background: lighten($endColor, 5%);
    padding: 5px;
    text-decoration: none;
    color: $textColor;
    overflow:hidden;
  }
.hidenav {
  &:link, &:visited {
    display: none;
  }
}
.shownav{
    margin-top: 8.5em;
}
/* end layout */
