/* @group global layout */
$pageWidth: $ipadPageWidthLandscape;
header.col {
  clear: both;
  overflow:visible;
}
.inner{
    border-radius:1000000px;
    overflow:hidden;
    width:100%;
    text-align:center;
    height:em(270px, $base-font-size);
}
.page-title {
    position:relative;
    top:50%;
    margin-top:-27%;
}
.sub-title {
    position:relative;
    top:50%;
}
.container {
  width: $pageWidth;
  overflow:hidden;
  padding-right:3em;
  box-shadow:-10px 0 8px -10px #999 inset;
}
.col{
  min-width:0;
  position:relative;
}
.sidebar{
    margin-left:0;
    clear: left;
}
.body{
    max-width:em(568px, $base-font-size);
    z-index: 1;
}
/*iPads (landscape)*/
.mobileOnly{display:none;}
@media only screen and (max-width: em(1024px, $base-font-size)) and (orientation: landscape) {
  .ipad-break-landscape-expand {
    clear: both;
    width: 100%;
  }
  .ipad-break-landscape {
    width: 48%;
  }
  .no-ipad {
    display: none;
  }
  .sub-title {
    margin-left: 0;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (max-width: em(1024px, $base-font-size)) and (orientation: portrait) {
  $pageWidth: $ipadPageWidthPortrait;
  .container {
    width: $pageWidth;
  }
  nav li a {
    padding: 10px;
  }
  header {
  }
  .inner{
      padding:5px;
      border-radius: 20px;
      min-height:em(205px, $base-font-size);
      height:auto;
  }
  .page-title, .sub-title {
      position:static;
  }
  .page-title{
      margin-top: 0;
  }
  .ipad-break-portrait, .ipad-break-landscape {
    width: 48%;
  }
  .ipad-break-portrait-expand, .ipad-break-landscape-expand {
    width: 100%;
    clear: both;
  }
  .sub-title,.page-title {
    float: none;
    margin-left: 0;
  }
  .no-ipad {
    display: none;
  }
}
/* end layout */
